
body{
  background-color:#71b7ca ;
  cursor:url("images.png"),default;
  font-family:'Bitcount Single','Courier New', Courier, monospace;
  color:rgb(255, 248, 248);
}
.parent{
display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;  
  width: 100%;

}
.loader {


  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
h1{
  text-align: center;
  font-size:40px;
}
.container{
 display:flex;
 align-items:center;
 justify-content:center;

}

input{
  font-family:'Bitcount Single','Courier New', Courier, monospace;
  color: Black;
  font-size:14px;
  width:500px;
  height:45px;
  border-radius:42px;
  border-width:10px;
  border:solid;
  border-color:rgb(87, 86, 86);
  padding-left:15px;
  box-shadow:1px 1px  rgb(73, 73, 73);

 

}
button{
  font-family:'Bitcount Single';
  font-size:14px;
  color:rgb(63, 62, 62);
  margin-left:10px;
  width:115px;
  height:42px;
  border-radius:20px;
  border:solid;
  background-color:rgb(232, 240, 254);
  box-shadow:1px 1px  rgb(73, 73, 73);
  position:relative;
  left:10px;
  cursor:pointer;

}
.current{
  width:400px;
  border:solid;
  border-color:rgb(73, 73, 73);
  padding:20px 25px 25px 25px;
  margin:47px ;
  margin-left:390px ;
  height: 289px;
  background-color: rgb(232, 240, 254);
  color:black;
}
.situ{
  font-size:20px;
}
.results{

  padding:31px 20px 28px 20px;
  font-family:Bitcount single,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:16px;
  line-height: 1.5;
  

}



